body {
  background-color: aliceblue;
}

h1 {
  color: aqua;
  size: 25px;
  background-color: black;
  background-color: black;
  background-color: black;
  background-color: black;
  background-color: black;
  background-color: black;
}
